# this is the configuration file.
# an example file "config.py.example" is checked in with the project.

home = (50.964668, 7.413264)
sungrow_ip = '192.168.1.2'
sungrow_test_ip = '192.168.1.2' # whoever guesses, why this is there, should set up the system alike!

openDTU_ip = "192.168.1.3"

#tesla_login = 'your@tesla.account.com' # not needed with new API
tesla_vin = 'LRWYAAAAAAA135456'
tesla_client_id = "aaaaaaaaaaaa-bbbb-cccc-ddddddddddd"
tesla_client_secret = "ta-secret.aaaaaaaaaaaaaaaa"  # only needed during registration, so does not ever need to be on the Pi!
# put your key pair here:
#/TeslaKeys/privatekey.pem
#/TeslaKeys/publickey.pem
# and store the pubkey at: https://your.domain/.well-known/appspecific/com.tesla.3p.public-key.pem
tesla_redirect_domain = "your.domain"
tesla_redirect_uri = "https://your.domain/and/stuff/"

# for image-logger
image_url = 'http://192.168.1.4/'

# tasmota addresses
tasmota_ips = ('192.168.1.31',
               '192.168.1.32',
               '192.168.1.33',
               '192.168.1.34',
               '192.168.1.35',
               '192.168.1.36',
               '192.168.1.37',
               '192.168.1.38')

tasmota_meter_ip = '192.168.1.42'

# Your Tibber API token
tibber_api_token = "5K4MVS-OjfWhK_4yrjOlFe1F6kJXPVf7eQYggo8ebAE" # sample token - data will be garbage!

